.bricks_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1500px;
  margin: auto;
  padding-bottom: 10px;
  overflow: hidden;
}

.bricks_wrapper__itemsContainer > * {
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: top 2s ease, opacity 2s ease;
  display: block;

  position: relative;
  top: 0;
  opacity: 1;
}

.bricks_wrapper__itemsIsHidden {
  opacity: 0;
}
